 
<div class="dropdown" >
  <a class="btn dropdown-toggle px-3 py-2" style="background-color: #fff;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Filter by region
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Africa</a></li>
    <li><a class="dropdown-item" href="#">America</a></li>
    <li><a class="dropdown-item" href="#">Asia</a></li>
    <li><a class="dropdown-item" href="#">Europe</a></li>
    <li><a class="dropdown-item" href="#">Oceania</a></li>
  </ul>
</div>
